*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    min-height: 80vh;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.col{
    background-color: #fff;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 20px 40px;
}
.logo-section{
    text-align: center;
}
form{
    text-align: center;
    margin-top: 35px;
}
.form-items{
 display: flex;
 justify-content: center;
 width: 100%;
 margin-top: 15px;
}
i{
    width: 50px;
    font-size: 10px;
    padding: 12px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    text-align: center;
}
.form-text{
    width: 100%;
    padding: 10px;
    outline: none;
    color: #b62727;
}
.form-text:focus{
    border: 3px solid rgb(255, 0, 0);
}
.re-btn{
    margin-top: 35px;
    margin-bottom: 25px;
}
.Submit button{
    width: 100%;
    background-color: rgb(255, 0, 0);
    padding: 15px 20px ;
    cursor: pointer;
    color: #fff;
    border:  none;
    outline: none;
    /* transition: all 0.5s ease-in-out; */
    font-size: 18px;
}
.Submit button:hover{
    background-color: rgb(201, 15, 15);
}
.login-page{
    margin-bottom: 18px;
}
.login-link{
    color: #ff0000;
    margin-left: 5px;
}
.select-lge{
    width: 100%;
    padding: 10px;
    outline: none;
    color: #000000;
}